* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


table {
  border-collapse: collapse;
  table-layout: fixed;
}

table, tr {
  width: 80em;
}

td {
  width: 10em;
  text-align: right;
  border: 4px #555 solid;
}
