appdirs==1.4.0
bson==0.4.3
click==6.7
Flask==0.12
Flask-uWSGI-WebSocket==0.6.0
gevent==1.2.1
gevent-websocket==0.9.5
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.5
Keras==1.2.2
MarkupSafe==0.23
numpy==1.12.0
packaging==16.8
pyparsing==2.1.10
pytz==2016.10
PyYAML==3.12
scipy==0.18.1
six==1.10.0
Theano==0.8.2
uWSGI==2.0.14
Werkzeug==0.11.15
Yapsy==1.11.223
