<!DOCTYPE html>
<html>
	<head>
		<title>test</title>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="static/js/test_sound.js"></script>
		<style>
			td {
				padding: 8px;
				width: 64px;
			}
			.data {
				width: 32px;
			}
		</style>
	</head>
	<body>
		<h1>openbci feedback</h1>
		<h2>application</h2>
			<form>
				<label><input name="application" type="radio" id="cbox_adhd">ADHD</label><br />
				<label><input name="application" type="radio" id="cbox_stress">Stress</label><br />
				<label><input name="application" type="radio" id="cbox_meditation">Meditation</label><br />
				<label><input name="application" type="radio" id="cbox_flow">Flow Intense focus</label><br />
			</form>
		<h2>data</h2>
		<table border>
			<tr>
				<td></td>
				<td class="data">delta</td>
				<td class="data">theta</td>
				<td class="data">alpha</td>
				<td class="data">mu</td>
				<td class="data">smr</td>
				<td class="data">beta1</td>
				<td class="data">beta2</td>
				<td class="data">beta</td>
				<td class="data">gamma</td>
			</tr>
			<tr>
				<td>measured</td>
				<td class="data" id="m0"></td>
				<td class="data" id="m1"></td>
				<td class="data" id="m2"></td>
				<td class="data" id="m3"></td>
				<td class="data" id="m4"></td>
				<td class="data" id="m5"></td>
				<td class="data" id="m6"></td>
				<td class="data" id="m7"></td>
				<td class="data" id="m8"></td>
			</tr>
			<tr>
				<td><button id="bminbutton">baseline rest</button></td>
				<td class="data" id="bmin0"></td>
				<td class="data" id="bmin1"></td>
				<td class="data" id="bmin2"></td>
				<td class="data" id="bmin3"></td>
				<td class="data" id="bmin4"></td>
				<td class="data" id="bmin5"></td>
				<td class="data" id="bmin6"></td>
				<td class="data" id="bmin7"></td>
				<td class="data" id="bmin8"></td>
			</tr>
			<tr>
				<td><button id="bmaxbutton">baseline wandering</button></td>
				<td class="data" id="bmax0"></td>
				<td class="data" id="bmax1"></td>
				<td class="data" id="bmax2"></td>
				<td class="data" id="bmax3"></td>
				<td class="data" id="bmax4"></td>
				<td class="data" id="bmax5"></td>
				<td class="data" id="bmax6"></td>
				<td class="data" id="bmax7"></td>
				<td class="data" id="bmax8"></td>
			</tr>
		</table><br />
		<button id="validatebutton">validate</button><br /><br />
		score: <input type="number" id="score" /><br />
		<h2>feedback</h2>
		<audio id="track_0" controls autoplay loop>
			<source src="/static/sounds/1.mp3" type="audio/mp3">
		</audio>
		<br />
		<audio id="track_1" controls autoplay loop>
			<source src="/static/sounds/2.mp3" type="audio/mp3">
		</audio>
		<br />
		<audio id="track_2" controls autoplay loop>
			<source src="/static/sounds/3.mp3" type="audio/mp3">
		</audio>
		<br />
		<audio id="track_3" controls autoplay loop>
			<source src="/static/sounds/4.mp3" type="audio/mp3">
		</audio>
		<br />
	</body>
</html>
