<!DOCTYPE html>

<html>
	<head>
		<meta charset=utf-8>
		{% block scripts %}
			<script type="text/javascript" src="/static/scripts/main.js"></script>
		{% endblock %}

		{% block styles %}
			<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
			<link type="text/css" rel="stylesheet" href="/static/styles/main.css" />
			<link type="text/css" rel="stylesheet" href="/static/lib/normalize-css/normalize.css" />
		{% endblock %}
	</head>

	<body>
		<header>

		</header>

		<main>
			{% block main %}
				Hello, world!
			{% endblock %}
		</main>

		<footer>

		</footer>
	</body>
</html>
